//html
//    head
//        meta( charset="UTF-8")
//        title title
//    body
//        form( action="/test/signup" method="post")
//            p 用户名：
//                input(type="text" name="loginname")
//            p 邮箱：
//                input(type="text" name="email")
//            p 密码：
//                input(type="text" name="pass")
//            p 重复密码：
//                input(type="text" name="re_pass")
//            input( type="submit" value="注册")
//        div( class='inner')
//                - if(typeof(error) !== 'undefined' && error)
//                    div(class="alert alert-error")
//                        a(class="close" data-dismiss="alert" href="#") &times;
//                        strong #{error}
//                -if(typeof(success) !== 'undefined' && success)
//                    div( class="alert alert-success")
//                        strong #{success}

extends ../layout
block content
    script(src="/javascripts/regist.js" type="text/javascript")
    div.row
        div.col-sm-12
            legend 用户注册
            div.row
                div.col-md-6
                    div( class='inner')
                        - if(typeof(error) !== 'undefined' && error)
                            div(class="alert alert-error")
                                a(class="close" data-dismiss="alert" href="#") &times;
                                strong #{error}
                        -if(typeof(success) !== 'undefined' && success)
                            div( class="alert alert-success")
                                strong #{success}
                    form.form-horizontal(method="post" action="/test/signup" )
                        fieldset
                            div.control-group
                                label.control-label(for="username") 用户名
                                div.row
                                    div.col-md-5
                                        input#username(class="input-xlarge focused" type="text" name="loginname"  placeholder="至少5位英文字符")
                                    //div.col-md-7
                                    //    p(id="usernamehint" style="display:none")
                            div.control-group
                                label.control-label(for="password") 邮箱
                                div.row
                                    div.col-md-5
                                        input#password.input-xlarge(type="text" name="email")
                            div.control-group
                                label.control-label(for="password") 密码
                                div.row
                                    div.col-md-5
                                        input#password.input-xlarge(type="text" name="pass" placeholder="设置至少8位密码")
                                    //div.col-md-7
                                    //    p(id="passwordhint" style="display:none")
                            div.control-group
                                label.control-label(for="password-repeat") 重复输入密码
                                div.row
                                    div.col-md-5
                                        input#password-repeat.input-xlarge(type="text" name="re_pass")
                                    //div.col-md-5
                                    //    p(id="passwordrepeathint" style="display:none")
                            div.form-actions
                                input( class="btn btn-primary" type="submit" value="注册")
                                //button#submitregist( class="btn btn-primary") 注册
                    div#registHint( class="alert alert-success" role="alert" style="display:none")
                    hr(size="1" color="#999999")
                    div
                        span 已有A++账号
                        span
                            a(href="/login") 立即登录
                div.col-md-6
                    img(src="/images/IMG_20160514_142855.jpg" class="img-responsive" alt="Responsive image")