//
   Created by yaohw on 2017-03-18 16:30:01.

extends ../layout
block content
 div.container
  div.row
   div(style="margin-bottom:20px;padding-right:10px")
    button(type="button" class="btn btn-primary" href="/BBS/message" ) 留言

  div.row(style="border-bottom:3px grey solid;border-top:3px grey solid")
    div(class="col-md-8")
        - each obj in list
            div(style="padding-right:10px;padding-right:10px")
                a(href="/message/"+obj._id)
                    div.row(style="border-bottom:1px #f3f3f3 solid;height:50px; padding:15px;")
                        div(class="col-md-10")
                            p #{obj.title}
                        div(class="col-md-2")
                             p #{obj.content}
                        div(class="col-md-2")
                             p #{obj.name}
    div(class="col-md-1" style="height:100px; width:1px; border-left:1px grey solid")

    div(class="col-md-3")
        h4 留言说明
        p 留言需要符合国家法律规定
  div.row
   div(style="margin-bottom:20px")
    button(type="button" class="btn btn-primary" href="/BBS" ) 留言