//
   Created by yaohw on 2017-03-18 16:30:01.


div.container
    legend 用户留言
    div.row
    div.col-md-2
        form#messageForm.form-horizontal(method="post" action="BBS" )
            fieldset
                div.container-fluid
                div
                    label.control-label(for="username") 联系方式               
                    div.col-md-1
                        input#username.input-xlarge(type="text" name="username")
                    div.col-md-1
                        p.help-block(id="usernamehint" style="display:none")
                div.container-fluid
                div
                    label.control-label(for="content") 留言
                div.row
                    div.col-md-1
                        input#content.input-xlarge(type="text" name="content")
                    div.col-md-1
                        p.help-block(id="passwordhint" style="display:none")
                div.container-fluid
                button( class="btn btn-primary") 留言1
                button( class="btn1") 留言2
        hr(size="1" color="#999999")

    script(type='text/javascript').
        jQuery(document).ready(function() {
            jQuery(".btn1").bind("click",function(){

                var arr = $('#messageForm').serializeArray();               
                alert($.param(arr));

                var message = {
                    username:$("#username").val(),
                    content:$("#content").val()                    
                };    


                jQuery.ajax({
                    type: 'post',
                    url: '/BBS/',
                    cache: false,
                    data: message,
                   
                    success:function(data){    
                            alert("发布成功！");              
                            window.location.reload();      
                    }
                });

            });
        });
 


            