//
   Created by yaohw on 2017-03-18 16:30:01.

extends ../layout
block content
     div.row
        div.col-sm-12
            legend 用户留言
            div.row
                div.col-md-6                    
                   
                        fieldset
                            div.container-fluid
                                div
                                    label.control-label(for="username") 用户名
                                div.row
                                    div.col-md-1
                                        input#username.input-xlarge(type="text" name="name"   style="width:400px;")
                                        
                            div.container-fluid
                                div
                                    label.control-label(for="email") 邮箱
                                div.row
                                    div.col-md-1
                                        input#email.input-xlarge(type="text" name="name"   style="width:400px;")
                                        
                            div.container-fluid
                                div
                                    label.control-label(for="tel") 电话
                                div.row
                                    div.col-md-1
                                        input#tel.input-xlarge(type="text" name="name"   style="width:400px;")
                                   
                            div.container-fluid
                                div
                                    label.control-label(for="content") 内容
                                div.row
                                    div.col-md-1
                                        textarea#content.input-xlarge(rows="5" style="width:400px;" name="content")

                            div.container-fluid
                                button(id="newMessage" class="btn btn-primary" ) 留言

      script(type='text/javascript').
        jQuery(document).ready(function() {
            jQuery("#newMessage").bind("click",function(){

                var arr = $('#messageForm').serializeArray();               
                alert($.param(arr));

                var message = {
                    username:$("#username").val(),
                    email:$("#email").val(),
                    tel:$("#tel").val(),
                    content:$("#content").val()
                                     
                };    


                jQuery.ajax({
                    type: 'post',
                    url: '/BBS/',
                    cache: false,
                    data: message,
                   
                    success:function(data){    
                            alert("留言成功！");              
                            window.location.reload();      
                    }
                });

            });
        });
 


            