//
   Created by yaohw on 2017-03-18 16:30:01.

div(class="message" style="margin:0px;")   
        div.row(style="display:none")
            div.col-md-2
                label.control-label(for="username") 用户名
            div.col-md-2
                input#username.input-xlarge(type="text" name="name"   style="width:200px;")
        div.row(style="display:none")                    
            div.col-md-2
                label.control-label(for="email") 邮箱
            div.col-md-2                               
                input#email.input-xlarge(type="text" name="name"   style="width:200px;")                                    
        div.row(style="display:none")
            div.col-md-2
                label.control-label(for="tel") 电话
            div.col-md-2
                    input#tel.input-xlarge(type="text" name="name"   style="width:200px;")
        div.row(style="margin:0px;")               
            div.col-md-2(style="display:none")
                    label.control-label(for="content") 内容
            div.col-md-2
                    textarea#content.input-xlarge(rows="4" style="width:350px;" name="content")
        div.row(style="float:right;")  
            div.container-fluid
                    button(id="newMessage" class="btn btn-primary" ) 留言

script(type='text/javascript').
        jQuery(document).ready(function() {
            jQuery("#newMessage").bind("click",function(){

                var arr = $('#messageForm').serializeArray();               
                alert($.param(arr));

                var message = {
                    username:$("#username").val(),
                    email:$("#email").val(),
                    tel:$("#tel").val(),
                    content:$("#content").val()
                                     
                };    


                jQuery.ajax({
                    type: 'post',
                    url: '/BBS/',
                    cache: false,
                    data: message,
                   
                    success:function(data){    
                            alert("留言成功！");              
                            window.location.reload();      
                    }
                });

            });
        });
 


            