<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
   <article>

        <div>
            <object width="650" height="530" type="application/x-shockwave-flash" data="F:\培训\scratch项目\喵咪收钱.sb2.swf">
                <param name="allowScriptAccess" value="always">
                <param name="allowFullScreen" value="false">
                <param name="Play" value="-1">
                &lt;!&ndash;<param name="project" value="F:\培训\scratch项目\接苹果.sb2">&ndash;&gt;
                &lt;!&ndash;<param name="flashvars" value="project=F:\培训\scratch项目\接苹果.sb2">&ndash;&gt;
                <param name="WMode" value="Transparent">
            </object>
        </div>

    </article>
    <hr size="1" color="#999999">
    <embed width="650" height="530" src="/swf/喵咪收钱.sb2.swf"></embed>
<iframe>

</div>
    
</body>
</html>