extends ../layout
block content
    div.container
        script(src="/javascripts/fonts.js")
        script(src="/javascripts/jszip.js")
        script(src="/javascripts/phosphorus.js")
        script(src="/javascripts/player.js")
        script(type='text/javascript').
            uploadedFile = '#{File}'
        <div class=player></div>