//
   Created by hr on 2016/9/22.

div(class="footer")
   div.container
        div.row
            div(class="about col-md-2")
                p.footerlink
                    a(href="") 关于我们
                p.footerlink
                    a(href="") 联系我们
                p.footerlink
                    a(href="") 加入我们
                p.footerlink
                    a(href="") 服务协议
            div(class="others col-md-2")
                p.footerlink
                    a(href="") 其他产品
                p.footerlink
                    a(href="") 合作伙伴
                p.footerlink
                    a(href="") 动态
            div(class="weibocode col-md-2")

            div(class="weixincode col-md-2")
            div.leavecomment
   div.container
      p
         a(href="www.bing.com" target="_blank") A++ 2016