//
   Created by hr on 2016/9/4.

nav(class="navbar navbar-inverse navbar-fixed-top")
   div.container
      div.row
         div.col-md-2
            div(class="navbar-header")
               a(class="navbar-brand" href="/" style="margin:0;padding:0")
                  img(class="img-responsive" src="/images/1A++.PNG")
                  
               //button(type="button" class="navbar-navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                  
         div(class="pull-right")
            div(class="navbar-collapse collapse")
               ul(class="nav navbar-nav")
                  li
                     a(href="/signin") 登录
                  li
                     a(href="/signup") 注册
                  li
                     a(class="glyphicon glyphicon-user" href="/resource") 资源
                  li
                     a(class="glyphicon glyphicon-list" href="/courses/1") 课程
                  li
                     a(class="glyphicon glyphicon-heart" href="/works") 作品
                  li
                     a(class="glyphicon glyphicon-th" href="/course") 在线课堂
         //div(class="col-md-2 col-md-offset-5")
         //   div(class="navbar-header" style="float:right")
         //      //button(type="button" class="btn btn-default btn-lg")
         //      span(class="glyphicon glyphicon-user glyphicon" href="/users/countinfo")

