//
   Created by hr on 2016/9/4.

nav(class="navbar navbar-inverse navbar-fixed-top")
   div.container
      div.row
         div.col-md-6
            div(class="navbar-header")
               a(class="navbar-brand" href="/" style="margin:0;padding:0")
                  div
                        img(class="img-responsive" src="/images/logo.png") 
                        a(style="margin-left:5px;font-size: 40px;color: rgb(34,51,65);font:") 少儿编程            
         div(class="pull-right")
            div(class="navbar-collapse collapse")
               ul(class="nav navbar-nav")
                  li
                     a(class="glyphicon glyphicon-pencil" href="/create" target="_blank") 创作
                     a(href="/create") CREATE
                  //- li
                  //-    a(class="glyphicon glyphicon-gift" href="/resource") 资源
                  //-    a(href="/resource") RESOURCE
                  //- li
                  //-    a(class="glyphicon glyphicon-list" href="/courses") 课程
                  //-    a(href="/courses") COURSES
                  li
                     a(class="glyphicon glyphicon-heart" href="/works") 作品
                     a(href="/works") WORKS
                  //- li
                  //-    a(class="glyphicon glyphicon-th" href="/course") 在线课堂
                  //-    a(href="/course") CLASSES
                  li
                     a(id="loginBtn_a" href="/newsignin") 登录
                  li
                     div(class='dropdown' id="userbtn_dropdown")
                        //-a(class="btn dropdown-toggle glyphicon glyphicon-user" id="dropdownMenu1" data-toggle="dropdown" style="font-size: 30px;color: rgb(34, 51, 65);")
                        img(class="btn dropdown-toggle" id="dropdownMenu1" style="color: rgb(34, 51, 65);width:80px;height:60px" data-toggle="dropdown")
                        ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1")
                              li(role="presentation")
                                    a( role="menuitem" tabindex="-1" href="/user") 主页
                              li( role="presentation" class="divider")
                              li( role="presentation")
                                    a(role="menuitem" tabindex="-1" href="/signout" class="glyphicon glyphicon-log-out") 退出登录