//
   Created by hr on 2016/9/4.

nav(class="navbar navbar-inverse navbar-fixed-top")
   div.container
      div.row
         div.col-md-4
            div(class="navbar-header")
               a(class="navbar-brand" href="/" style="margin:0;padding:0")
                  img(class="img-responsive" src="/images/1A++.PNG") 
               a(style="margin:auto;font-size: 40px;color: grey;font:") 编程课堂              
         div(class="pull-right")
            div(class="navbar-collapse collapse")
               ul(class="nav navbar-nav")
                  li
                     a(class="glyphicon glyphicon-pencil" href="/create" target="_blank") 创作
                  li
                     a(class="glyphicon glyphicon-gift" href="/resource") 资源
                  li
                     a(class="glyphicon glyphicon-list" href="/courses/1") 课程
                  li
                     a(class="glyphicon glyphicon-heart" href="/works") 作品
                  li
                     a(class="glyphicon glyphicon-th" href="/course") 在线课堂
                  li
                     a(href="/newsignin") 登录
                  li
                     div(class='dropdown')
                        a(class="btn dropdown-toggle glyphicon glyphicon-user" id="dropdownMenu1" data-toggle="dropdown" style="font-size: 30px;color: rgb(212, 106, 64);")
                        ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1")
                              li(role="presentation")
                                    a( role="menuitem" tabindex="-1" href="/user") 主页
                              li( role="presentation" class="divider")
                              li( role="presentation")
                                    a(role="menuitem" tabindex="-1" href="#" class="glyphicon glyphicon-log-out") 退出登录