extends layout
block content
  div#carousel(class="carousel slide" data-interval="10000" style="width=100%;height=500px")
    ol.carousel-indicators
      li(data-target="#carousel" data-slide-to="0" class="active")
      li(data-target="#carousel" data-slide-to="1")
      li(data-target="#carousel" data-slide-to="2")
    div.carousel-inner(role="listbox" style="width=100%;height=500px")
      div(class="item active")
        img(src="/images/IMG_20160512_133927.jpg" style="max-width:100%" alt="image0")
      div(class="item")
        img(src="/images/IMG_20160512_153620.jpg" style="max-width:100%" alt="image1")
      div(class="item")
        img(src="/images/IMG_20160514_142855.jpg" style="max-width:100%" alt="image2")
    a(class="carousel-control left" href="#carousel" role="button" data-slide="prev")
      span(class="glyphicon glyphicon-chevron-left" id="prevbtn" aria-hidden="true")
    a(class="carousel-control right" href="#carousel" role="button" data-slide="next")
      span(class="glyphicon glyphicon-chevron-right" id="nextbtn" aria-hidden="true")