doctype html
html
    head
        title 零壹空间-少儿编程
        meta(charset='utf8')
        meta(content='text/html' http-equiv='content-type')
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="keywords" content="少儿编程,可编程机器人,scratch,Arduino,零壹空间,创客,STEAM")
        meta(name="description" content="专注5-18岁青少年编程科技教育，致力于让所有小朋友爱上编程，爱上人工智能！")
        link(rel='stylesheet' href="/stylesheets/bootstrap.css")
        link(rel='stylesheet' href="/stylesheets/mycss.css")
        link(rel='stylesheet' href="/stylesheets/bootstrap-theme.css")
        link(rel="stylesheet" href="/stylesheets/message.css")
        link(href="/stylesheets/video-js.min.css" rel="stylesheet" type="text/css")
        script(src="/javascripts/video.min.js")
        script.
            videojs.option.flash.swf="/javascripts/video-js.swf";
        script(src="/javascripts/jquery-3.1.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
        script(src="/javascripts/bootstrap.js")
        script(src="/javascripts/json2.js")
        script(src="/javascripts/hashtabber.js")
        script(src="/javascripts/moment.js")
        script(src="/javascripts/index.js")
        link(rel="shortcut icon" href="/images/favicon.ico")

    body
        include header
        div#container()
            block content
        include footer
        include floatmessage