//
   Created by hr on 2016/9/8.


extends layout
block content
   div.row
      div.col-sm-12
         legend 用户登录
         div.row
            div.col-md-6
               form.form-horizontal(method="post" )
                  fieldset
                     div.container-fluid
                        div
                           label.control-label(for="username") 用户名
                        div.row
                           div.col-md-1
                              input#username.input-xlarge(type="text" name="username")
                           div.col-md-1
                              p.help-block(id="usernamehint" style="display:none")
                     div.container-fluid
                        div
                           label.control-label(for="password") 密码
                        div.row
                           div.col-md-1
                              input#password.input-xlarge(type="text" name="password")
                           div.col-md-1
                              p.help-block(id="passwordhint" style="display:none")
                     div.container-fluid
                        button(type="submit" class="btn btn-primary") 登录
               hr(size="1" color="#999999")
               div
                  span 还没有A++账号
                  span
                     a(href="/regist") 立即注册
            div.col-md-6
               img(src="/images/IMG_20160514_142855.jpg" class="img-responsive" alt="Responsive image")