//
   Created by hr on 2016/9/4.

nav(class="navbar navbar-inverse navbar-fixed-top")
   div.container-fluid
            div(class="navbar-header")
               a(class="navbar-brand" style="margin:0;padding:0")
                  div
                        img(class="img-responsive" src="/images/logo.png") 
                        a(style="margin-left:5px;font-size: 40px;color: rgb(34,51,65);font:") 少儿编程
                        div(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
            div(class="navbar-collapse collapse" id="bs-example-navbar-collapse-1")
               ul(class="nav navbar-nav")
                  //li
                     a(class="glyphicon glyphicon-list" href="/courses/1") 课程
                     a(href="/courses/1") COURSES
                  li
                     a(class="glyphicon glyphicon-heart" href="/mobile/works") 作品
                  //li
                     a(class="glyphicon glyphicon-th" href="/course") 在线课堂
                     a(href="/course") CLASSES
                  li
                     a(id="loginBtn_a" href="/newsignin") 登录
                  li
                     div(class='dropdown' id="userbtn_dropdown")
                        a(class="btn dropdown-toggle glyphicon glyphicon-user" id="dropdownMenu1" data-toggle="dropdown" style="font-size: 30px;color: rgb(34, 51, 65);")
                        ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1")
                              li(role="presentation")
                                    a( role="menuitem" tabindex="-1" href="/user") 主页
                              li( role="presentation" class="divider")
                              li( role="presentation")
                                    a(role="menuitem" tabindex="-1" href="/signout" class="glyphicon glyphicon-log-out") 退出登录