//
   Created by hr on 2016/9/22.


div(class="footer" style="background:rgb(34,51,65)")
   div.container
        div(class="row infoline")
            div(class="about col-md-3")
                    a.staticlink(style="display:block" href="/static/aboutus") 关于我们
                    a.staticlink(style="display:block" href="/static/contactus") 联系我们
                    a.staticlink(style="display:block" href="/static/joinus") 加入我们
                    a.staticlink(style="display:block" href="/static/serviceprotocol") 服务协议
                    img(src="/images/qrcode_for_gh_37da155ecfed_430.jpg" style="height:100px;width:100px")

   div.container
         a.staticlink(href="www.bing.com" target="_blank") 零壹空间 2017