#scratch {
    display: block
}

#scratch .scratch_unsupported {
    display: none;
    margin: 10px
}

#scratch-loader,
#scratch .scratch_loading {
    position: absolute;
    top: 0;
    background-image: url(../images/ajax_loader_blue_48.gif);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
}

#uploadResultModal{
    display: none;
    width:900px;
    height:550px;
    position:absolute;
    padding:0px;
    left: -webkit-calc(50% - 450px); 
    top: -webkit-calc(50% - 275px);
    background:white;
}

body {
    text-align: left;
    color: #444;
    font-size: 14px;
    font-family: "microsoft yahei";
}