.col-center-block{
    float:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.a {
  color: black;
}

/*.navbar-inverse{
    background: rgb(237,190,49);
    background-image:-webkit-linear-gradient(top, rgb(237,190,49) 0%, rgb(237,190,49) 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(237,190,49)), to(rgb(237,190,49)));
    background-image:linear-gradient(to bottom, rgb(237,190,49) 0%, rgb(237,190,49) 100%);
}*/

#container{
    padding-top: 60px;
}

.footer > a{
    color:grey;
}

.footer > p{
    color:rgb(237,190,49);
}

#errdiv404 > p{
    color: rgb(111,119,134);
}

#loginBtn_a{
    padding-top: 20px
}

p{
    color:black;
}

.staticlink{
    color:rgb(237,190,49);
    margin-top:10px;
    margin-bottom: 5px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
    padding-bottom:40px;
    background: rgb(255,255,255)
    /*background-image: url(../images/coffie.jpg);*/
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* �����㲻��Ҫ����IE6�������԰���������һ�д���ɾ�� */
    height: 100%;
    margin: 0 auto -142px;
}
.footer, .push {
    height: 170px;
}
.footer{
    text-align:center;
}

.buttons {
    margin-top: 160px;
}

h3{
    color: black;
}

h4{
    color: black;
}

.buttons a {
    margin-right: 30px;
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

.buttons a::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.5;
}

.buttons a:active::before {
    top: -9px;
}

.buttons a:hover::before { opacity: 1; }

.buttons a.twitter:hover::before {
    background-color: #c6f0f8;
}

.twitter img { vertical-align: -7px; }

.footerlink {
  margin: 0;
  padding:0;
  height: 30px;
}

.about {
    height: 100px;
}

.weibocode {
    height: 100px;
}

.weixincode {
    height: 100px;
}

.infoline {
    height: 146px;
}

.leavecomment {
    border: 1px solid grey;
    height: 100%;
}
#uploadResultModal{
    display: none;
    width:900px;
    height:550px;
    position:absolute;
    padding:0px;
    left: -webkit-calc(50% - 450px); 
    top: -webkit-calc(50% - 275px);
    background:white;
}

/*.QQ_login{
    content: "\f1d6";
    background-image: url("/images/QQ_icon.png");
}*/