extends ../layout
block content
    div(style="padding-left:25px;padding-right:25px")
        div(class="page-header")
            h1 关于我们
        div
            h3 我们是做什么的？ 
            p 我们零壹空间是一家专注少儿编程领域的教育科技公司。公司以计算性思维培养为主线，针对不同年龄、不同基础、不通性格特点的孩子，设计合适的编程教育课程；跟随当前的科技潮流，设计能结合软件和硬件的编程学习产品。通过课程课程学习和产品锻炼，使得孩子拥有较强的逻辑思维能力、动手能力和解决问题的能力。
        div
            h3 我们的使命
            p 零壹空间致力于培养每个孩子的计算性思维，使得每个孩子能通过编程工具，实现简单的创意。
        div
            h3 我们的团队
            div.row
                div(class="col-md-3")
                    img(class="img-responsive" src="/images/coffie.jpg")
                div(class="col-md-9") 
                    h5 李杰
                    p 硕士毕业于南京大学计算机系，拥有三年计算机学术研究经历，以及4年的国有大型研究院软件架构设计和编程经验。
            div.row
                div(class="col-md-3")
                    img(class="img-responsive" src="/images/coffie.jpg")
                div(class="col-md-9") 
                    h5 钮鑫涛博士
                    p 免试保送南京大学计算机科学与技术系软件和理论专业硕博连读研究生，在软件新技术国家重点实验室从事组合测试、故障定位、约束处理等方向的研究。在计算机国际顶级会议发表多篇学术论文，申请技术专利一项，承担过网页桌游和SNS社交系统的开发。获得过中兴杯AI竞赛中获得一等奖和南京理工大学高等数学竞赛一等奖。拥有香港理工大学和美国德州大学圣安东尼奥的访问交流经验。目前主要负责零壹空间平台的开发和技术的储备。
            div.row
                div(class="col-md-3")
                    img(class="img-responsive" src="/images/coffie.jpg")
                div(class="col-md-9") 
                    h5 李彬博士
                    p 2011年免试保送南京大学计算机科学与技术系硕博连读研究生，在软件新技术国家重点实验室从事软件工程相关技术的研究。主要研究方向：计算性思维，程序静态分析和验证，循环不变式自动合成，编译优化技术，程序特定类型缺陷的自动发现等等。已在国内外知名会议和期刊发表数十篇学术论文。拥有卢森堡大学游学访问经历，以及多个大型项目的实践经历。热衷于少儿编程事业的研究与推广，目前主要负责零壹空间编程课程的研发。
            div.row
                div(class="col-md-3")
                    img(class="img-responsive" src="/images/coffie.jpg")
                div(class="col-md-9") 
                    h5 yaohongwei
                    p 硕士毕业于武汉大学计算机系，拥有三年计算机学术研究经历，以及4年的国有大型研究院软件架构设计和项目管理经验。