extends ../layout
block content
    div(style="padding-left:25px;padding-right:25px")   
        div(class="page-header")
            h1 联系我们
        div
            h4 南京见义思编教育科技有限公司
            p 地址：南京市鼓楼区江东中路永嘉年华
            p 电话：13776416562
            p 邮箱：lijie1108@126.com
            p 客服qq：382443453
        
    