extends ../layout
block content
    div(style="padding-left:25px;padding-right:25px")   
        div(class="page-header")
            h1 联系我们
        div
            h4 南京见义思编教育科技有限公司
            p 地址：南京市鼓楼区江东中路209号永嘉年华603
            p 电话：025-85981626
            p 邮箱：lijie1108@126.com
            p qq：382443453
        
    