extends ../layout
block content
    div(style="padding-left:25px;padding-right:25px")   
        div(class="page-header")
            h1 联系我们
        div
            h4 零壹空间教育科技有限公司
            p 地址：南京市鼓楼区
            p 电话：400-996-5067
            p 邮箱：lijie1108@126.com
            p 客服qq：382443453
        
    