extends ../layout
block content
    div(style="padding-left:25px;padding-right:25px")
        div(class="page-header")
            h1 服务协议
        div(style="margin-left:50px")
            p 本网站内容由南京市见义思编教育科技有限公司（以下简称我司）提供，相应服务除特殊说明外由我司提供。

            p 本网站的用户（以下简称用户）在注册、报名、使用本网站时，视为接受本协议规定的内容。

            h3(style="margin-top:25px") 隐私协议

            p 我司承诺在本网站上收集的用户个人信息（包括但不限于姓名、手机号等），仅为用户提供服务之用，不会泄露给第三方机构与个人。

            p 用户在本网站上产生的行为信息（包括但不限于浏览页面，点击、注册的行为，来源与去向等），我司有权根据公司需求进行分析、处理，并适当公开。

            p 用户有义务保障自己账户的安全性，不将密码、验证码告诉任何第三方，否则造成个人信息泄露，责任由用户承担。

            h3(style="margin-top:25px") 服务协议

            p 本网站所展示的服务，分为线下服务（包括但不限于夏令营、冬令营、线下课程）与线上服务（包括但不限在线直播课程、录播课程）。

            p 本网站所展示的收费服务，在用户购买之后，由我司提供服务。

            p 我司有权将服务承包给第三方，在第三方服务过程中，我司有义务保证服务质量。

            p 用户在购买线下服务时，除特殊说明外，需要在规定时间内预付定金，用于支付服务开始之前的准备工作之费用，并在服务开始前支付全款。

            p 用户在线下服务开始之前，定金或全款已支付时单方面取消服务的，我司有权扣除在准备服务过程中产生的费用之后再返还剩余款项，扣除的额度不超过预付定金的金额。

            p 用户在线下服务开始之后，结束之前单方面取消服务的，我司有权扣除在准备服务过程中以及服务过程中的费用之后再返还剩余款项，扣除的额度不超过已支付的全款金额。

            p 用户在线下服务结束之后，本协议自动失效。

            p 用户在购买线上服务后，服务将在用户完成付款时自动开始。

            p 用户在购买线上服务后，若服务开始之后用户可以访问到所有服务内容，则视为用户已享受到所有服务，用户不能单方面取消服务或申请退款。

            p 用户付款之前，我司单方面原因，取消服务的，我司不承担责任。

            p 用户付款之后、服务开始之前，因我司单方面原因，无法继续进行服务的，我司退还用户所有已收款项（包括但不限于定金、剩余款项）；确实因我司未能进行服务给用户造成直接损失的，我司将赔偿用户的直接损失，赔偿金额不超过已支付金额的百分之五。

            p 线下服务开始之后，因我司单方面原因，无法继续进行服务的，我司会返还未服务部分的款项；确实因我司未继续进行服务给用户造成直接损失的，我司将赔偿用户的直接损失，赔偿金额不超过未进行服务部分金额的百分之五。

            p 因不可抗力因素，导致服务无法进行的，我司会返还未服务部分的款项。

            p 本网站提到的服务费用，除特殊说明外，仅包括服务过程中产生的费用，不包括用户个人消费产生的费用以及用户往来服务地点的交通费用。

            p 以上未服务部分款项及已服务部分款项，按服务时间等比例计算。

            h3(style="margin-top:25px") 版权协议

            p 我司提供服务过程中使用的材料（包括但不限于纸质教材、电子教材、程序软件等），版权归我司所有，未经我司书面许可，不可提供给第三方。

            p 本网站上展示的数据（包括但不限于文字、图片、视频等），除特殊说明外，版权归我司所有，任何机构与个人未经我司书面许可，不得使用。

            p 本协议未尽事宜，由双方协商解决。协商不成的，提请仲裁机构仲裁。