//
   Created by hr on 2016/10/7.

extends ../layout
block content
   div.container
      script(src="/javascripts/pages/courses.js")
      div.row
            ul(class="nav nav-tabs")
                li#startcourse
                    a(href="/courses/1") 入门课程
                li#gamestart 
                    a(href="/courses/2") 游戏入门
                li#upgames
                    a(href="/courses/3") 高阶游戏
                li#startAlgorithm
                    a(href="/courses/4") 初级算法
                li#upAlgorithm
                    a(href="/courses/5") 高阶算法
                script(type='text/javascript').
                    var type = '#{coursetype}'
                    if(type=="1"){
                        var li = $("#startcourse")[0].className = "active";
                    }
                    else if(type=="2"){
                        $("#gamestart")[0].className = "active";
                    }
                    else if(type=="3"){
                        $("#upgames")[0].className = "active";
                    }
                    else if(type=="4"){
                        $("#startAlgorithm")[0].className = "active";
                    }
                    else if(type=="5"){
                        $("#upAlgorithm")[0].className = "active";
                    }
      div.row(style="border-bottom:3px grey solid")
        div(class="col-md-8")
            - for(var i=0;i<list.length;i++)
                div(class="courseListDiv" id=list[i]._id style="padding-left:10px;padding-right:10px")
                    a(href='/courses/'+coursetype+'/'+list[i]._id)
                        div.row(style="border-bottom:1px #f3f3f3 solid;height:50px; padding:15px;")
                            div(class="col-md-10")
                                p #{list[i].title}
                            div(class="col-md-2")
                                - var difficultyLevel = list[i].difficultyLevel
                                case difficultyLevel
                                    when 0
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                    when 1
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                    when 2
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                    when 3
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                    when 4
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star-empty")
                                    when 5
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
                                        span(class="glyphicon glyphicon glyphicon-star")
        div(class="col-md-1" style="height:100px; width:1px; border-left:1px grey solid")

        div(class="col-md-3")
            h4 课程概要
            p(id="courseDescription") #{list[0].discription}