//
   Created by hr on 2016/10/7.

extends ../layout
block content
   div.container
      div.row
            ul(class="nav nav-tabs")
                li#startcourse
                    a(href="/courses/1") 入门课程
                li#gamestart 
                    a(href="/courses/2") 游戏入门
                li#upgames
                    a(href="/courses/3") 高阶游戏
                li#startAlgorithm
                    a(href="/courses/4") 初级算法
                li#upAlgorithm
                    a(href="/courses/5") 高阶算法
                script(type='text/javascript').
                    var type = '#{coursetype}'
                    if(type=="1"){
                        var li = $("#startcourse")[0].className = "active";
                    }
                    else if(type=="2"){
                        $("#gamestart")[0].className = "active";
                    }
                    else if(type=="3"){
                        $("#upgames")[0].className = "active";
                    }
                    else if(type=="4"){
                        $("#startAlgorithm")[0].className = "active";
                    }
                    else if(type=="5"){
                        $("#upAlgorithm")[0].className = "active";
                    }
      div.row(style="border-bottom:3px grey solid")
        div(class="col-md-8")
            - each obj in list
                div(style="padding-left:10px;padding-right:10px")
                    a(href="/courses/1/"+obj._id)
                        div.row(style="border-bottom:1px #f3f3f3 solid;height:50px; padding:15px;")
                            div(class="col-md-10")
                                p #{obj.title}
                            div(class="col-md-2")
                                span(class="glyphicon glyphicon glyphicon-star-empty")
                                span(class="glyphicon glyphicon glyphicon-star-empty")
                                span(class="glyphicon glyphicon glyphicon-star-empty")
                                span(class="glyphicon glyphicon glyphicon-star-empty")
                                span(class="glyphicon glyphicon glyphicon-star-empty")
        div(class="col-md-1" style="height:100px; width:1px; border-left:1px grey solid")

        div(class="col-md-3")
            h4 课程概要
            p 发达是的发送到发送到阿斯蒂芬阿斯蒂芬大师傅
        //-  div(class="col-center-block list-group")
        //-     - each obj in list
        //-        div(class="list-group-item container")
        //-           div.row
        //-              div(class="col-xs-4")
        //-                 div(style="position:relative;left:5px;top:5px")
        //-                    div(class="button" style="position:absolute;left:30%;top:30%;")
        //-                       img(class="img-responsive" src=obj.picture_path href="#")
        //-              div(class="col-xs-4")
        //-                 h3(class="list-group-item-heading")=obj.name
        //-                 p(class="list-group-item-text")=obj.description
        //-                 p(class="list-group-item-text")=obj.study_goal
        //-                 p(class="list-group-item-text")=obj.precondition
        //-                 p(class="list-group-item-text")=obj.price
        //-                 p(class="list-group-item-text")=obj.period