extends ../layout
block content
        div.container
            div.row
                div(class="col-md-8")
                    video(src=course.coursePath)
                div(class="col-md-4")
                    div
                        h4 课程简介：
                        p #{course.discription}
            div
                button(style="display:inline" class="btn")
                    span(class="glyphicon glyphicon-thumbs-up") 
                button(style="display:inline" class="btn")
                    span(class="glyphicon glyphicon-thumbs-down") 
                button(style="display:inline" class="btn") 收藏
                button(style="display:inline" class="btn") 打赏
                a #{course.watchCount}次浏览
            div(class="col-md-8")
                h4 所有评论：  
                //- - each obj in list
                div
                        div.row
                            div(class="col-md-4")
                                p 作者：
                                    a(href="user/id") haha
                            div(class="col-md-3")
                                p 2017年 2月12日 
                            div(class="col-md-1")
                                p 沙发
                        div  
                            p jfdsjl东方闪电是梵蒂冈地方刚发的公司的风格十多个风格第三方第三方公司的风格水电费公司的风格水电费锅煽豆腐锅煽豆腐公司的改善的地方锅煽豆腐个k ajdslkfjasdfj alskdjlkasdj flkjaslkd jlk